{% extends 'base.html.twig' %}


{% block body %}
    <div class="preload hidden">
        <div class="logo"></div>
        <div class="loader-frame">
            <div class="loader1" id="loader1"></div>
            <div class="loader2" id="loader2"></div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px">
        <div class="col-md-4 col-md-offset-4">
            <div class="portlet light estilosForm" style="background-color: #f5f5f5">
                <div class="portlet-title">
                    <div class="caption font-green">
                        <i class="icon-key font-green"></i>
                        <span class="caption-subject bold uppercase"> CAMBIAR CONTRASEÑA DEL USUARIO {{ usuario.nombreCompleto|upper }}</span>
                    </div>
                </div>
                <div class="portlet-body form" style="margin-left: 30px">
                    <form role="form" id="formChangePassword">
                        <div class="form-body">
                            <div class="row" style="margin-top: 20px">
                                <div class="col-lg-11 col-md-11 col-sm-11">
                                    <div class="form-group form-md-line-input form-md-floating-label input-icon right">
                                        <i style="color: #dc141b" class="fa fa-exclamation tooltips hidden  passNew" data-placement="bottom" data-original-title="Este campo es obligatorio" ></i>
                                        <input type="password"  class="form-control" id="passNew" name="passNew">
                                        <label for="passNew">Nueva Contraseña</label>
                                        <i class="glyphicon glyphicon-eye-open" id="verClaveNew" style="cursor: pointer"></i>
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="margin-top: 20px">
                                <div class="col-lg-11 col-md-11 col-sm-11">
                                    <div class="form-group form-md-line-input form-md-floating-label input-icon right">
                                        <i style="color: #dc141b" class="fa fa-exclamation tooltips hidden  passNewConfirm" data-placement="bottom" data-original-title="Este campo es obligatorio" ></i>
                                        <input type="password"  class="form-control" id="passNewConfirm" name="passNewConfirm">
                                        <label for="passNewConfirm">Confirmar Contraseña</label>
                                        <i class="glyphicon glyphicon-eye-open" id="verClaveNewConfirm" style="cursor: pointer"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions noborder">
                            <button type="button" class="btn btn-secondary" id="btnGuardar">Guardar</button>
                            <button type="button" class="btn default" id="btnSalir">Salir</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        jQuery(document).ready(function() {

            //--------- abandonar el formulario -----------------
            $('#btnSalir').on('click', function ()
            {
                window.location.href = "{{ path('gestionarUsuarios') }}";

            });

            $('#verClaveNew').on("mousedown", function () {

                if ($("#passNew").val() !=='') {
                    $('#passNew').prop("type","text");
                }
            });

            $('#verClaveNew').on("mouseup", function () {

                if ($("#passNew").val() !=='') {
                    $('#passNew').prop("type","password");
                }
            });

            $('#verClaveNew').on("mouseout", function () {

                if ($("#passNew").val() !=='') {
                    $('#passNew').prop("type","password");
                }
            });

            $('#verClaveNewConfirm').on("mousedown", function () {

                if ($("#passNewConfirm").val() !=='') {
                    $('#passNewConfirm').prop("type","text");
                }
            });

            $('#verClaveNewConfirm').on("mouseup", function () {

                if ($("#passNewConfirm").val() !=='') {
                    $('#passNewConfirm').prop("type","password");
                }
            });

            $('#verClaveNewConfirm').on("mouseout", function () {

                if ($("#passNewConfirm").val() !=='') {
                    $('#passNewConfirm').prop("type","password");
                }
            });

            $('#btnGuardar').on('click',function () {

                var errores = 0;
                $('#formChangePassword input[type=password]').each(function () {

                    var name = $(this).prop('name');
                    if($(this).val().trim() == ''){
                        $('.'+name).removeClass('hidden');
                        errores++;
                    }else {
                        $('.'+name).addClass('hidden');
                    }
                });

                if(errores !== 0) return false;

                var passNew = $("#passNew").val();
                var passNewConfirm = $("#passNewConfirm").val();

                if(passNewConfirm != passNew){
                    alertify.alert('<strong>La contraseña nueva no coincide con la confirmación, inténtelo de nuevo.</strong>')
                        .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                            '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                        .set('label','Aceptar');
                    $("#passNewConfirm").val('');
                    $("#passNew").val('');
                    return false;
                }


                $(".preload").removeClass('hidden');

                var mat_datos = {
                    idUsuario: '{{ usuario.id }}',
                    username: '{{ usuario.username }}',
                    passNew: passNew
                };

                $.ajax({
                    type: "POST",
                    dataType: "html",
                    url: '{{ path("resetarPassword") }}',
                    data: mat_datos
                }).done(function (data) {

                    $(".preload").addClass('hidden');
                    if(data == 'ok'){

                        alertify.alert('<strong>Su contraseña ha sido cambiada correctamente</strong>')
                            .setHeader('<span class="glyphicon glyphicon-ok-circle" style="font-size: 20px"></span>' +
                                '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Confirmación</h4>')
                            .set('label','Aceptar')
                            .set('onok', function () {
                                window.location.href = "{{ path('gestionarUsuarios') }}";
                            });
                    }else{
                        alertify.alert('<strong>'+ data +'</strong>')
                            .setHeader('<span class="glyphicon glyphicon-ban-circle" style="font-size: 20px"></span>' +
                                '<h4 class="modal-title" style="display: inline-block; margin-left: 10px">Error</h4>')
                            .set('label','Aceptar')
                    }
                });

            });

        });
    </script>
{% endblock %}